body.dark * {
  transition: 0.5s ease all;
}

body.dark nav {
  background-color: #f7b2b7;
}

/* Modo claro para el botón de descargar CV */
body.dark .navbar__link button {
  color: black; /* Texto negro en modo claro */
  background-color: #f7b2b7; /* Fondo rosado en modo claro */
  border: none; /* Sin borde */
  font-size: 16px;
  font-weight: 600; /* Texto en negrilla */
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s; /* Transición tanto para el texto como el fondo */
  padding: 10px;
  border-radius: 15px/20px;
}

/* Efecto hover para el modo claro */
body.dark .navbar__link button:hover {
  background-color: #dd2d4a; /* Fondo más oscuro en el hover */
  font-weight: 600; /* Mantiene el texto en negrilla */
}

body.dark .navbar__links {
  background-color: #f7b2b7;
}

body.dark .navbar__menu {
  color: #000;
}

body.dark section {
  background-color: #f5f5f5;
}

body.dark .navbar__link a {
  color: black;
  font-weight: 600;
  background-color: #f7b2b7;
}

body.dark .navbar__link a:hover {
  background-color: #dd2d4a;
}

body.dark .navbar__logo a {
  color: black;
  font-weight: 600;
}

body.dark .navbar__logo:hover {
  background-color: #dd2d4a;
}

body.dark .section__title {
  color: black;
}

body.dark .section__subtitle {
  color: #333333;
}

.about__description {
  color: #444444;
}

body.dark .about__description span {
  color: #353535;
}

body.dark .about__description h2 {
  color: #222222;
}

body.dark .skill__title {
  color: #111111;
}

body.dark .skill__item {
  background: #f7b2b7;
  color: #191919;
}

body.dark .skill__rating {
  color: #111111;
}

body.dark .colorized-star {
  color: yellow;
}

body.dark .skill__item {
  color: #dd2d4a;
  font-weight: 600; /* Mantiene el texto en negrilla */
}

body.dark .skill__item:hover {
  color: black;
  border: 1px solid black;
  font-weight: 600; /* Mantiene el texto en negrilla */
}

body.dark .services__item {
  background: #f7b2b7;
}

body.dark .services__item:hover {
  border-bottom: 5px solid #dd2d4a;
}

body.dark .services__item:hover i {
  color: black;
}

body.dark .services__item i {
  color: #dd2d4a;
}

body.dark .services__item h3 {
  color: #111111;
}

body.dark .services__item p {
  color: #101010;
}

body.dark .active a {
  color: black;
}

body.dark .footer {
  background-color: #7a7a7a;
}

body.dark .footer__item--copyright {
  display: inline-flex;
  color: black;
}

body.dark .form__input {
  border-bottom: 3px solid #dd2d4a;
  background-color: #f5f5f5;
  color: black;
  font-weight: 600;
}

body.dark .form__button {
  background-color: #dd2d4a;
  color: white;
}

body.dark .form__button:hover {
  background-color: #f7b2b7;
  color: black;
}

body.dark .form__input:focus {
  background: linear-gradient(to bottom, transparent, #f7b2b7);
}

h3.section__description {
  font-size: 18px;
  line-height: 1.6;
  color: #353535; 
  font-weight: bold; /* texto en negrita */
}