* {
  font-family: "JetBrains Mono", sans-serif; /* Establece la fuente para todo el documento */
  user-select: none; /* Evita la selección de texto */
}

a {
  text-decoration: none; /* Quita el subrayado de los enlaces */
  color: #f5f5f5; /* Color del texto de los enlaces */
}

a:hover {
  color: #9d8189; /* Color del texto al pasar el mouse sobre los enlaces */
}

html {
  scroll-behavior: smooth; /* Habilita desplazamiento suave */
}

body {
  background: #040402; /* Color de fondo del cuerpo */
  background: #eac4d5; 
  color: #f5f5f5; /* Color del texto */
  transition: 0.5s ease all; /* Transición suave para cambios de estilo */
}

section,
.home {
  padding: 90px 0; /* Espaciado superior e inferior */
  text-align: center; /* Centra el texto */
  background: #040402; /* Color de fondo de la sección */
}

.container {
  width: 100%; /* Ancho del contenedor */
  display: inherit; /* Hereda el tipo de visualización */
  max-width: 1200px; /* Ancho máximo del contenedor */
  justify-content: inherit; /* Hereda la justificación */
  margin: 0 auto; /* Centra el contenedor */
  padding: 0 20px; /* Espaciado horizontal */
}

.navbar {
  position: fixed; /* Fija la barra de navegación */
  background: black; /* Color de fondo de la barra de navegación */
  display: inline-flex; /* Visualización en línea flexible */
  justify-content: space-between; /* Espacio entre elementos */
  align-items: center; /* Alinea verticalmente los elementos */
  height: 55px; /* Altura de la barra de navegación */
  width: 100%; /* Ancho de la barra de navegación */
  z-index: 10; /* Asegura que la barra esté en la parte superior */
  border-bottom: 2px solid #9d8189; /* Línea en la parte inferior */
}

.navbar__logo {
  padding: 10px; /* Espaciado interno */
  font-size: 20px; /* Tamaño de fuente del logo */
  align-self: center; /* Alinea el logo al centro */
  border-radius: 15px/20px; /* Bordes redondeados */
  margin-left: -10px; /* Margen a la izquierda */
}

.navbar__logo:hover {
  background-color: #111; /* Color de fondo al pasar el mouse */
  color: #9d8189; /* Color del texto al pasar el mouse */
}

.navbar__links {
  list-style: none; /* Sin estilo de lista */
  display: flex; /* Visualización en línea flexible */
  height: 100%; /* Altura de los enlaces */
  align-items: center; /* Alinea verticalmente los enlaces */
  color: #9d8189; /* Color del texto de los enlaces */
  font-weight: 400; /* Grosor de fuente */
}

.navbar__link a {
  color: #9d8189; /* Color del texto de los enlaces */
  transition: color 0.3s; /* Transición para el color de texto */
  padding: 10px; /* Espaciado interno */
  border-radius: 15px/20px; /* Bordes redondeados */
}

.navbar__link a:hover {
  background-color: #111; /* Color de fondo al pasar el mouse sobre el enlace */
  color: #9d8189; /* Color del texto al pasar el mouse */
}

.switch {
  background: #303030; /* Color de fondo del interruptor */
  border-radius: 1000px; /* Bordes redondeados */
  border: none; /* Sin borde */
  margin-left: 10px; /* Margen a la izquierda */
  position: relative; /* Posicionamiento relativo */
  cursor: pointer; /* Cambia el cursor al pasar sobre el interruptor */
  display: flex; /* Visualización en línea flexible */
  outline: none; /* Sin contorno */
}

.switch::after {
  content: ""; /* Crea un pseudo-elemento */
  display: block; /* Muestra el pseudo-elemento como bloque */
  width: 30px; /* Ancho del pseudo-elemento */
  height: 30px; /* Altura del pseudo-elemento */
  border: 1px solid black; /* Borde del pseudo-elemento */
  position: absolute; /* Posicionamiento absoluto */
  background: #9d8189; /* Color de fondo del pseudo-elemento */
  top: 0; /* Alineación en la parte superior */
  left: 0; /* Alineación a la izquierda */
  right: unset; /* Sin alineación a la derecha */
  border-radius: 100px; /* Bordes redondeados */
  transition: 0.4s ease all; /* Transición suave para el pseudo-elemento */
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); /* Sombra del pseudo-elemento */
}

.switch.active::after {
  color: #9d8189; /* Color del pseudo-elemento activo */
  right: 0; /* Alineación a la derecha */
  left: unset; /* Sin alineación a la izquierda */
}

.switch__symbol {
  width: 30px; /* Ancho del símbolo del interruptor */
  height: 30px; /* Altura del símbolo del interruptor */
  line-height: 30px; /* Altura de línea para centrar el texto */
  display: block; /* Muestra el símbolo como bloque */
  background: none; /* Sin fondo */
}

.switch__symbol--sun {
  color: yellow; /* Color del símbolo del sol */
}

.switch__symbol--moon {
  color: #184e77; /* Color del símbolo de la luna */
}

.navbar__menu {
  display: none; /* Oculta el menú de la barra de navegación */
  align-items: center; /* Alinea verticalmente los elementos del menú */
  font-size: 35px; /* Tamaño de fuente del menú */
}

.home {
  min-height: 100vh; /* Altura mínima de la sección principal */
  display: flex; /* Visualización en línea flexible */
  padding: 30px; /* Espaciado interno */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  background: rgba(0, 0, 0, 0.7); /* Color de fondo con opacidad */
  position: relative; /* Posicionamiento relativo */
  user-select: none; /* Evita la selección de texto */
}

.home__background {
  background-image: url(../img/bg-images/img-background-ciber.gif); /* Imagen de fondo */
  background-attachment: fixed; /* Fija la imagen de fondo */
  background-size: cover; /* Cubre toda el área */
  background-position: center; /* Centra la imagen de fondo */
  height: 100%; /* Altura del fondo */
  width: 100%; /* Ancho del fondo */
  position: absolute; /* Posicionamiento absoluto */
  z-index: -1; /* Envía el fondo detrás del contenido */
}

.home__profile {
  height: 250px; /* Altura del perfil */
  border-radius: 50%; /* Bordes redondeados para crear un círculo */
  margin-right: 40px; /* Margen a la derecha */
  box-shadow: 0px 0px 2px 2px #c98bb9; /* Sombra del perfil */
}

.home__img-col {
  width: 10%; /* Ancho de la columna de imagen */
  margin-top: 5%; /* Margen superior */
}

.home__title {
  font-size: 60px; /* Tamaño de fuente del título principal */
  text-shadow: 4px 4px #040402; /* Sombra del texto */
  color: white; /* Color del texto del título principal */
}

.home__title--primary,
.home__title--secondary {
  font-size: 45px; /* Tamaño de fuente de los títulos secundarios */
  color: #9d8189; /* Color del texto de los títulos secundarios */
  text-shadow: 3px 3px black; /* Sombra del texto */
}

.section__title {
  color: #8e8e8e; /* Color del texto del título de sección */
  font-size: 35px; /* Tamaño de fuente del título de sección */
  margin-bottom: 40px; /* Margen inferior */
}

.section-decoration {
  content: ""; /* Crea un pseudo-elemento */
  display: block; /* Muestra el pseudo-elemento como bloque */
  width: 150px; /* Ancho del pseudo-elemento */
  height: 5px; /* Altura del pseudo-elemento */
  background: #9d8189; /* Color de fondo del pseudo-elemento */
  margin: -30px auto 30px; /* Margen superior, automático a los lados, margen inferior */
}

.section__subtitle {
  color: #8e8e8e; /* color gris claro */
  margin-bottom: 20px; /* margen inferior de 20 píxeles */
}

.about__grid {
  display: grid; /* muestra el contenido en forma de cuadrícula */
  grid-template-columns: 1fr 1fr; /* dos columnas de igual tamaño */
  gap: 20px; /* espacio de 20 píxeles entre las columnas */
}

.about__description {
  text-align: left; /* texto alineado a la izquierda */
  font-weight: bold; /* texto en negrita */
  padding-right: 80px; /* relleno a la derecha de 80 píxeles */
  line-height: 40px; /* altura de línea de 40 píxeles */
}

.about__description--item {
  list-style: none; /* sin viñetas en la lista */
  text-indent: 10px; /* sangría de 10 píxeles */
}

.soft-shillitem .about__summary {
  margin: 30px 0; /* margen de 30 píxeles arriba y abajo */
}

.about__description span {
  color: #f5f5f5; /* color blanco */
}

.about__description h2 {
  color: #f5f5f5; /* color blanco */
  margin: 20px 0; /* margen de 20 píxeles arriba y abajo */
}

.about__skills {
  display: grid; /* muestra el contenido en forma de cuadrícula */
  grid-template-columns: 1fr 1fr 1fr; /* tres columnas de igual tamaño */
  gap: 20px; /* espacio de 20 píxeles entre las columnas */
}

.skill__title {
  color: #8e8e8e; /* color gris claro */
  grid-column: span 3; /* ocupa tres columnas */
  text-align: left; /* texto alineado a la izquierda */
}

.skill__item {
  background: #191919; /* fondo negro */
  font-size: 50px; /* tamaño de fuente de 50 píxeles */
  color: #8e8e8e; /* color gris claro */
  padding: 35px; /* relleno de 35 píxeles */
  border-radius: 10px; /* bordes redondeados de 10 píxeles */
  transition: all 0.5s, font-weight 0s; /* transición de 0.5 segundos para todas las propiedades */
  min-width: 130px; /* ancho mínimo de 130 píxeles */
}

.skill__rating {
  font-size: 16px; /* tamaño de fuente de 16 píxeles */
  color: #353535; /* color gris oscuro */
}

.colorized-star {
  color: #9d8189; /* color azul claro */
}

.skill__item:hover {
  color: #9d8189; /* cambia a azul claro al pasar el mouse */
  font-weight: 600; /* peso de fuente de 600 al pasar el mouse */
  border: 1px solid #9d8189; /* borde azul claro al pasar el mouse */
}

.skill__name {
  font-size: 16px; /* tamaño de fuente de 16 píxeles */
  padding-top: 10px; /* relleno superior de 10 píxeles */
  text-align: center; /* texto alineado al centro */
}

.services__grid {
  display: grid; /* muestra el contenido en forma de cuadrícula */
  grid-template-columns: 1fr 1fr 1fr; /* tres columnas de igual tamaño */
  gap: 20px; /* espacio de 20 píxeles entre las columnas */
}

.services__item {
  padding: 20px; /* relleno de 20 píxeles */
  background: #191919; /* fondo negro */
  border-bottom: 5px solid transparent; /* borde inferior de 5 píxeles, inicialmente transparente */
  transition: border 0.3s; /* transición de 0.3 segundos para el borde */
  border-top-left-radius: 10px; /* borde superior izquierdo redondeado de 10 píxeles */
  border-top-right-radius: 10px; /* borde superior derecho redondeado de 10 píxeles */
}

.services__item:hover {
  background-color: #222; /* cambia a un gris más claro al pasar el mouse */
  transition: border 0.3s; /* transición de 0.3 segundos para el borde */
  border-bottom: 5px solid #9d8189; /* borde inferior azul claro al pasar el mouse */
}

.services__item:hover i {
  transition: all 0.3s; /* transición de 0.3 segundos para todas las propiedades */
  color: #9d8189; /* cambia a azul claro al pasar el mouse */
}

.services__item i {
  transition: all 0.3s; /* transición de 0.3 segundos para todas las propiedades */
  font-size: 40px; /* tamaño de fuente de 40 píxeles */
  margin: 20px 0; /* margen de 20 píxeles arriba y abajo */
  color: #8e8e8e; /* color gris claro */
}

.services__item h3 {
  margin-bottom: 15px; /* margen inferior de 15 píxeles */
}

.services__item p {
  color: #8e8e8e; /* color gris claro */
}


.portfolio__description--title {
  color: #9d8189; /* color azul claro */
  font-size: 20px; /* tamaño de fuente de 20 píxeles */
}

.portfolio__description--subtitle {
  font-size: 18px; /* tamaño de fuente de 18 píxeles */
}

.portfolio__description--text {
  margin: 10px 0; /* margen de 10 píxeles arriba y abajo */
  color: red; /* color rojo */
}

.porfolio__tech-images {
  display: flex; /* utiliza un contenedor flexible */
  width: 100%; /* ancho del 100% */
  justify-content: center; /* centra el contenido horizontalmente */
  flex-wrap: wrap; /* permite que los elementos se envuelvan */
}

.portfolio__tech-image {
  width: 10%; /* ancho del 10% */
  margin: 20px 5px; /* margen de 20 píxeles vertical y 5 píxeles horizontal */
}

.buttons__container {
  display: flex; /* Contenedor de botones que utiliza flexbox */
}

.button {
  background: black; /* Color de fondo negro */
  border-radius: 4px; /* Bordes redondeados */
  color: #aaa; /* Color de texto gris claro */
  padding: 5px 10px; /* Espaciado interno */
  display: inline-block; /* Mostrar como bloque en línea */
  margin: auto; /* Margen automático para centrar */
}

.button:hover {
  background-color: #333; /* Color de fondo al pasar el ratón */
  color: #fff; /* Color de texto blanco al pasar el ratón */
}

.button--cta {
  background: #9d8189; /* Color de fondo azul claro */
  color: #191919; /* Color de texto negro */
  padding: 5px 30px; /* Espaciado interno */
  display: inline-block; /* Mostrar como bloque en línea */
  margin: 20px auto; /* Margen superior/inferior de 20px, centrado */
}

.button--cta i {
  margin-right: 10px; /* Margen a la derecha del icono */
}

.button--cta:hover {
  background: #eac4d5; /* Color de fondo gris claro al pasar el ratón */
  color: #191919; /* Color de texto negro al pasar el ratón */
}

.contact__grid {
  display: grid; /* Usar grid para el diseño */
  grid-template-columns: 1fr 1fr 1fr; /* Tres columnas de igual tamaño */
  gap: 20px; /* Espaciado entre columnas */
}

.contact__item {
  background: #191919; /* Color de fondo negro */
  color: #8e8e8e; /* Color de texto gris */
  padding: 50px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  transition: all 0.3s; /* Transición suave para todos los cambios */
}

.contact__item i {
  font-size: 50px; /* Tamaño de fuente grande para el icono */
  margin-bottom: 10px; /* Margen inferior del icono */
}

.contact__item:hover i {
  text-shadow: 3px 3px #040402; /* Sombra de texto al pasar el ratón */
}

.contact__item:hover {
  transition: all 0.3s; /* Transición suave para todos los cambios */
  color: #f5f5f5; /* Color de texto blanco al pasar el ratón */
  text-shadow: 2px 2px #040402; /* Sombra de texto al pasar el ratón */
}

.active a {
  color: #f5f5f5; /* Color de enlace blanco para elementos activos */
}

.container-slider {
  width: 90%; /* Ancho del contenedor del slider */
  max-width: 980px; /* Ancho máximo del contenedor */
  margin: auto; /* Margen automático para centrar */
  overflow: hidden; /* Ocultar desbordamiento */
  position: relative; /* Posición relativa para elementos internos */
  border-radius: 5px; /* Bordes redondeados */
}

.slider {
  display: flex; /* Usar flexbox para el slider */
  width: 500%; /* Ancho total del slider */
  height: 70%; /* Altura del slider */
  margin-left: -100%; /* Desplazamiento inicial */
}

.slider__btn {
  position: absolute; /* Posición absoluta para los botones del slider */
  width: 40px; /* Ancho del botón */
  height: 40px; /* Altura del botón */
  background: transparent; /* Fondo transparente */
  color: #333; /* Color de texto oscuro */
  top: 50%; /* Centrar verticalmente */
  transform: translateY(-50%); /* Ajustar para centrar */
  font-size: 30px; /* Tamaño de fuente grande */
  font-weight: bold; /* Negrita */
  cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
}
.slider__btn--right {
  right: 2px; /* Botón del slider alineado a la derecha con un desplazamiento de 2px */
}

.slider__btn:hover {
  color: #555; /* Color del botón al pasar el ratón */
  font-size: 32px; /* Tamaño de fuente al pasar el ratón */
}

.slider__img {
  width: 90%; /* Ancho de la imagen del slider */
  height: 100%; /* Altura de la imagen del slider */
  object-fit: cover; /* Ajustar la imagen para cubrir el contenedor */
}

/**
-
-
-
-
*/
.footer {
  width: 100%; /* Ancho del pie de página */
  background-color: #303030; /* Color de fondo gris oscuro */
  padding: 30px; /* Espaciado interno */
  text-align: center; /* Alinear texto al centro */
  display: inline-flex; /* Mostrar como un contenedor flexible */
  font-size: 14px; /* Tamaño de fuente */
}

.footer__item {
  display: inline-flex; /* Mostrar elementos del pie de página como flexibles */
  width: 40%; /* Ancho de los elementos del pie de página */
  justify-content: center; /* Centrar elementos horizontalmente */
  align-items: center; /* Centrar elementos verticalmente */
}

.footer__item--copyright {
  display: inline-flex; /* Mostrar el copyright como un contenedor flexible */
  color: #ccc; /* Color de texto gris claro */
  width: 60%; /* Ancho del elemento de copyright */
  font-weight: 800; /* Negrita */
  justify-content: space-evenly; /* Espaciado uniforme entre elementos */
}

.footer-copyright--logo {
  width: 20%; /* Ancho del logo en el pie de página */
}

.contact__item {
  padding: 10px; /* Espaciado interno */
  justify-content: center; /* Centrar elementos horizontalmente */
  margin-left: 20%; /* Margen izquierdo de 20% */
}

.footer a {
  color: #8e8e8e; /* Color de enlaces gris */
}

.footer a:hover {
  color: #f5f5f5; /* Color de enlaces blanco al pasar el ratón */
}

.flex-container {
  width: 80%; /* Ancho del contenedor flexible */
  display: flex; /* Usar flexbox para el contenedor */
  margin: 10px auto; /* Margen superior/inferior de 10px, centrado */
  align-items: center; /* Alinear elementos verticalmente */
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en varias líneas */
}

.form {
  display: inline-flex; /* Mostrar el formulario como un contenedor flexible */
  flex-direction: column; /* Orientar los elementos en una columna */
  width: 65%; /* Ancho del formulario */
}

.form__input {
  width: 90%; /* Ancho de los campos de entrada */
  margin: 10px auto; /* Margen superior/inferior de 10px, centrado */
  height: 35px; /* Altura de los campos de entrada */
  border: transparent; /* Sin borde */
  border-bottom: 3px solid #9d8189; /* Borde inferior de 3px con color azul claro */
  border-radius: 4px; /* Bordes redondeados */
  background-color: #303030; /* Color de fondo gris oscuro */
  color: antiquewhite; /* Color de texto color blanco antiguo */
  padding-left: 10px; /* Espaciado interno a la izquierda */
  padding-right: 10px; /* Espaciado interno a la derecha */
}

.form__input::placeholder {
  padding-left: 10px; /* Espaciado interno a la izquierda para el texto de marcador de posición */
  font-weight: 500; /* Peso de fuente seminegrita para el texto de marcador de posición */
}

.form__input:focus {
  background: linear-gradient(to bottom, transparent, #444); /* Fondo con degradado al enfocar el campo */
  outline: none; /* Sin contorno al enfocar */
}

.form__input--textarea {
  resize: none; /* Sin opción de redimensionar */
  border-radius: 4px; /* Bordes redondeados */
  height: 150px; /* Altura del área de texto */
  padding-top: 10px; /* Espaciado interno superior */
}

.form__input--textarea::placeholder {
  padding-top: 10px; /* Espaciado superior para el texto de marcador de posición */
}

.contact__item--form {
  display: flex; /* Mostrar el formulario de contacto como un contenedor flexible */
  align-items: center; /* Centrar elementos verticalmente */
  margin: 10px auto; /* Margen superior/inferior de 10px, centrado */
  width: 25%; /* Ancho del elemento de formulario de contacto */
  padding: 0px; /* Sin espaciado interno */
  height: 200px; /* Altura del elemento de formulario de contacto */
}

.form__buttons {
  display: inline-flex; /* Mostrar los botones del formulario como un contenedor flexible */
}

.form__button {
  width: 30%; /* Ancho de los botones del formulario */
  background-color: #777; /* Color de fondo gris */
  color: #000; /* Color de texto negro */
  font-weight: 600; /* Negrita */
}

.form__button:hover {
  cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
  background-color: #aaa; /* Color de fondo gris claro al pasar el ratón */
}

.author-rights__item--logo {
  width: 20%; /* Ancho del logo de derechos de autor */
}

.loader2__img {
  height: 90vh; /* Altura de la imagen del segundo cargador */
}

.loader__img {
  width: 15%; /* Ancho de la imagen del cargador */
}

.loader2 {
  clip-path: inset(0 100% 0 0); /* Recortar el segundo cargador */
}

.enter-count {
  position: absolute; /* Posición absoluta para el contador de entrada */
  top: 15%; /* Desplazamiento desde la parte superior */
  color: black; /* Color de texto negro */
  font-size: 20px; /* Tamaño de fuente */
  font-weight: 700; /* Negrita */
  text-shadow: 1px 1px #040402; /* Sombra de texto */
}